<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Indicates that the server.js file is a Node.js application -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- URL Rewrite rules -->
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- Don't interfere with Socket.io requests -->
        <rule name="SocketIO" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^socket\.io\/.+" />
          <action type="Rewrite" url="server.js"/>
        </rule>

        <!-- Serve static files from the public folder -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.+)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}"/>
        </rule>

        <!-- Route everything else to Node.js -->
        <rule name="DynamicContent">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <!-- You can control how Node is hosted within IIS using the following options -->
    <iisnode
      node_env="production"
      nodeProcessCommandLine="C:\nvm4w\nodejs\node.exe"
      watchedFiles="*.js;iisnode.yml"
      loggingEnabled="true"
      devErrorsEnabled="true"
      debuggingEnabled="false"
      flushResponse="true"
      enableXFF="true"
      promoteServerVars="LOGON_USER"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      />

    <!-- Allow websocket connections -->
    <webSocket enabled="true" />

    <!-- Security settings -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Enable CORS if needed -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
